.header {
  padding: 4rem 0rem;
}
.burger_icon {
  display: none;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;
}
.header nav a {
  font-family: "Chelsea Market", cursive;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.header nav > * + * {
  margin-left: 3rem;
}
